[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "frame-ancestors 'self' https://*.google.com https://*.googlesyndication.com https://*.googletagmanager.com"
    X-Frame-Options = "ALLOW-FROM https://www.google.com https://googleads.g.doubleclick.net https://www.googletagmanager.com"

[build]
  publish = "dist"
  command = "pnpm install && pnpm run build"

[build.environment]
  NODE_OPTIONS = "--max-old-space-size=4096"
  NODE_VERSION = "22.16.0"
  PNPM_FLAGS = "--no-frozen-lockfile"
  USE_PNPM = "true"

[build.processing]
  skip_processing = false

[build.processing.images]
  compress = true